<<<<<<< HEAD
$color-black:#000000;
$color-red:#ff3642;
$color-blue: #4563cd;
$color-cream: #ffefe7;
=======
$color-black:#000000;
$color-red:#ff3642;
$color-blue: #4563cd;
$color-cream: #ffefe7;
>>>>>>> 7b37c4444486b9c0497d4347b124b18c97ab2a78
$color-green: #00B2AA;