@import "../variables.scss";

.animation-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  z-index: 1000;
  display: flex;

  .bigo-container {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 10%;
    overflow-y: hidden;
  }
}

.hide-div-container {
  z-index: 0 !important;
  display: none !important;
}

.left-div {
  background-color: $color-white;
  font-family: "Montserrat", sans-serif, "Helvetica Neue", sans-serif;
  display: flex;
  width: 50%;

  .message-container {
    left: 12vw;
    top: 0;
    position: absolute;
    font-weight: 600;
    transform-origin: right top;
    opacity: 0;
    color: black;

    .showMessage {
      transition: 0.3s all;
    }

    .big-type {
      width: 0px;
      font-size: calc(14px + (80) * ((100vw - 300px) / (1600 - 300)));
      letter-spacing: -7px;
      transition: 0.3s all;
    }

    .medium-type {
      display: flex;
      margin-top: -8%;
      margin-left: 4%;

      .letra-roja {
        color: $color-red;
      }

      span {
        font-size: calc(14px + (34) * ((100vw - 300px) / (1600 - 300)));
      }
    }

    .little-type {
      font-size: 2rem;
      margin-top: -11%;
      margin-left: 5%;
    }
  }

  .paragraph-container {
    left: 13.5%;
    top: 32%;
    width: 23%;
    position: absolute;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    transition-delay: 2s;
    opacity: 0;
  }

  .bigo-container {
    position: relative;
    left: 8%;
    top: 44%;
    width: 80%;
    max-height: 56vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
.right-div {
  background-color: $color-red;
  display: flex;
  width: 50%;
  position: absolute;
  left: 50%;
  min-height: 100vh;
  transition: 0.3s all;
}

.hide-right-div {
  left: 110%;
  transition: 0.3s all;
}

.form-container {
  position: relative;
  width: 115% !important;
  min-height: 100%;
  background-color: #4563cd;
  border-top-left-radius: 550px;
  border-bottom-left-radius: 550px;
  margin-left: -10%;
  display: flex;
}

.form-grid {
  margin: auto;
  font-weight: 600;
  width: 60%;
  padding: 2rem 0;
  .form-group {
    width: 100%;
    margin-bottom: 10%;
    opacity: 0;
    label {
      margin: auto;
      display: block;
      color: $color-white;
      width: 90%;
      margin-left: 10%;
    }

    input {
      display: block;
      margin: auto;
      border: none;
      border-radius: 30px;
      padding-left: 20px;
      padding-right: 20px;

      @extend .form-size-elements;
    }
  }

  .submit-button {
    color: $color-white;
    background: transparent;
    border: solid 2px $color-white;
    border-radius: 50px;
    @extend .form-size-elements;
    font-weight: 600;
    opacity: 0;
  }
}

.form-size-elements {
  width: 90%;
  height: 6vh;
  max-height: 44px;
  margin-left: 10%;
}

.message-container {
  font-size: 4rem;
}

.back-anim {
  opacity: 1 !important;
  animation: enterGameOver 0.5s ease;
}

.back-anim2 {
  animation: enterGameOver 0.5s ease;
}

@keyframes enterGameOver {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

// Media queries 
@media screen and (max-width: 1366px){
  .left-div {
    .message-container {
      .little-type {
        margin-top: -11%;
      }
    }
  }
}
//portrait
@media screen and (max-width: 1024px) and (orientation: portrait){
 .content-home{
   flex-direction: column;
 }
 .left-div{
   width: 100%;
   min-height: 50vh;
   flex-direction: column;
   .paragraph-container {
    left: 13.5%;
    top: 22%;
    width: 73%;
  }
  .bigo-container {
    position: absolute;
    left: 64%;
    top: 30%;
    width: 30%;
    height: 200px;
    overflow-y: hidden;
  }
 }
 .right-div{
  width: 100%;
  position: relative;
  left: 0;
  min-height: 50vh;
  }  
  //
  .form-grid {
    width: 50%;
    .form-group {
      width: 100%;
      margin-bottom: 7%;
      opacity: 0;
      label {
        width: 100%;
        margin-left: 0%;
      }
    }
  }
  
  .form-size-elements {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 780px) and (orientation: portrait){
  .content-home{
    flex-direction: column;
  }
  .left-div{
    width: 100%;
    min-height: 50vh;
    flex-direction: column;
    .paragraph-container {
     left: 13.5%;
     top: 22%;
     width: 73%;
   }
   .bigo-container {
     position: absolute;
     left: 25%;
     top: 30%;
     width: 300px;
     height: 200px;
     overflow-y: hidden;
   }
  }
  .right-div{
   width: 100%;
   position: relative;
   left: 0;
   min-height: 50vh;
   }  
   //
   .form-container {
      width: 100% !important;
      border-top-left-radius: 80px;
      border-bottom-left-radius: 80px;
      margin-left: 0%;
    }
   .form-grid {
     width: 80%;
   }
}
@media screen and (max-width: 375px) and (orientation: portrait){
  .left-div{
   .paragraph-container {
      left: 10%;
      top: 22%;
      width: 80%;
      font-size: 0.9rem;
    }
    .message-container {
      .big-type {
        font-size: 3rem;
        letter-spacing: -3px;
      }
      .medium-type span {
        font-size: 2rem;
      }
    }
   .bigo-container {
     left: 25%;
     top: 35%;
     width: 200px;
     height: 200px;
   }
  }
}

// landscape
@media screen and (max-width: 960px) and (orientation: landscape){
  .left-div{
    .message-container {
      left: 2vw;
    }
    .message-container {
      .big-type {
        font-size: 3rem;
        letter-spacing: -3px;
      }
      .medium-type span {
        font-size: 2rem;
      }
    }
    .paragraph-container {
      left: 3%;
      top: 36%;
      width: 40%;
      font-size: 0.9rem;
    }
    .bigo-container{
      top:60%;
      height: 140px;
    }
  }
  .form-size-elements {
    height: 8vh;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape){
  .left-div{
    .message-container {
      .big-type {
        font-size: 2rem;
        letter-spacing: -3px;
      }
      .medium-type span {
        font-size: 1.5rem;
      }
    }
    .paragraph-container {
      font-size: 0.8rem;
    }
    .bigo-container{
      top:60%;
      height: 130px;
    }
  }
  .form-size-elements {
    height: 8vh;
  }
}


@media screen and (min-width: 768px) { 

  .paragraph-container span{
    font-size: calc(14px + (5) * ((100vw - 300px) / (1600 - 300)));
  }
}
