@import "../variables.scss";

.animation-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  z-index: 1000;
  display: flex;

  .bigo-container {
    width: 40%;
    margin: auto;
  }

  &.hide-div-container {
    z-index: 0 !important;
    display: none !important;
  }
}

.logo-container {
  position: absolute;
  width: 78% !important;
  height: 100%;
  background-color: $color-red;
  border-top-right-radius: 550px;
  border-bottom-right-radius: 550px;
  display: flex;
  margin-left: -80%;

  img {
    position: absolute;
    width: 70%;
    top: 3%;
    left: 5%;
    opacity: 0;
  }
}

.show-logo-container {
  transition: 0.3s all;
  margin-left: 0 !important;
}

.message-container {
  color: white;
  font-weight: 600;
  z-index: 1000;
  position: absolute;
  top: 47%;
  left: 5%;
  opacity: 0;
  font-size: calc(14px + (120 - 70) * ((100vw - 300px) / (1600 - 300)));
}

.text-container {
  color: white;
  z-index: 1000;
  position: absolute;
  top: 62%;
  left: 5%;
  font-size: calc(14px + (20) * ((100vw - 300px) / (1600 - 300)));
  opacity: 0;
}

.icons-container {
  position: absolute;
  top: 83%;
  left: 56%;
  display: flex;

  img {
    width: 40%;
    margin: auto;
    opacity: 0;
  }
}

.send-message-logo-container {
  position: absolute;
  top: 70%;
  left: 9%;
  opacity: 0;
  img {
    width: 90%;
  }
}

.div-bigo {
  position: absolute;
  bottom: 4%;
  width: 40%;
  z-index: 1000;
  left: 69%;
  height: 44vh;
  overflow-y: hidden;
}

.bigo-container {
  position: relative;
}

.back-anim {
  opacity: 1 !important;
  animation: enterGameOver 0.5s ease;
}
@keyframes enterGameOver {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

// Queries Game Over
// Portrait
@media screen and (max-width: 780px) and (orientation: portrait) {

  .content-home { 
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }

  .logo-container {
    height: 60vh;
    width: 95% !important;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;

    img { 
      top: 7%;
    }

  }

  .message-container {
    top: 23%;
  }

  .text-container {
    top: 32%;
  }

  .send-message-logo-container {
    top: 42%;
  }

  .send-message-logo-container {
    img {
      width: 40% !important;
      margin-top: 3% !important;
      margin-left: -4% !important;
    }
  }

  .icons-container {
    position: absolute;
    top: 44.5%;
    left: 50%;
    display: flex;
    width: 30%;

    img {
      width: 30%;
    }
  }

  .div-bigo {
    position: absolute;
    top: 62%;
    width: 400px;
    z-index: 1000;
    left: -4%;
    height: 400px;
  }
}
// Landscape
@media screen and (max-width: 960px) and (orientation: landscape) {
  .content-home { 
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }

  .send-message-logo-container {
    img {
      width: 40% !important;
      margin-top: 4% !important;
      margin-left: -4% !important;
    }
  }

  .icons-container {
    position: absolute;
    top: 81%;
    left: 47%;
    display: flex;
    width: 15%;

    img {
      width: 37%;
    }
  }

  .text-container {
    width: 73%;
    top: 57%;
    font-size: calc(14px + (20) * ((100vw - 300px) / (1600 - 300)));
}

}
