@import "../variables.scss";

.animation-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  z-index: 1000;
  display: flex;

  .bigo-container {
    width: 40%;
    margin: auto;
  }

  &.hide-div-container {
    z-index: 0 !important;
    display: none !important;
  }
}

.main-container {
  position: absolute;
  width: 85% !important;
  height: 100%;
  background-color: $color-red;
  border-top-right-radius: 550px;
  border-bottom-right-radius: 550px;
  display: flex;

  img { 
    position: absolute;
    width: 80%;
    top: 9%;
  }

}
