@import '../variables.scss';

.left-home{
    min-height: 100vh;
    background-color: $color-cream; // $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .btn_run{
        background: $color-green;
        color:$color-white;
        font-weight: 600;
        font-size: 2rem;
        padding: 0.7rem 3rem;
        border-radius: 3rem;
        position: relative;
    }
    .lives{
        position:absolute;
        left: 1rem;
        bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span{
            font-weight: 600;
            margin-right: 10px;
        }
        .lives_icons{
            width: 100px;
            display: flex;
            div{
                margin:0 4px;
            }
        }
    }
    /**/
    .circle-counter{
        width: 400px;
        min-height: 400px;
        padding: 3rem;
        color:$color-blue;
        border-radius: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        h4,h1{
            font-weight:600;
            margin-bottom: 0;
        }
        h1{
            font-size: 5rem;
            line-height: 4rem;
        }
        h5{
            margin-top: 2rem;
        }
        .circle{
            position: absolute;
            top:0;
            left: 0;
            svg{
                width: 400px;
                .e-c-base {
                    fill: none;
                    stroke: $color-white;
                    stroke-width: 8px
                  }
                   
                  .e-c-progress {
                    fill: none;
                    stroke: $color-blue;
                    stroke-width: 8px;
                    transition: stroke-dashoffset 0.7s;
                  }
            }
        }
    }
}

// shake button effect
.shake_Button{
    animation-name: shakeAnim;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in; 
}

@keyframes shakeAnim {
    0% {left: 0}
    8% {left: -3px}
    16% {left: 5px}
    25% {left: -8px}
    33% {left: 8px}
    41% {left: -5px}
    50% {left: 3px}
    58% {left: -5px}
    66% {left: 8px}
    75% {left: -8px}
    83% {left: 5px}
    91% {left: -3px}
    100% {left: 0}
  }

  // border effect
  
