<<<<<<< HEAD
@import '../variables.scss';

.content-home{
    min-height: 100vh;
    div{
        width: 50%;
    }
    .back_1{
        background: gray;
    }
=======
@import '../variables.scss';

.content-home{
    min-height: 100vh;
    div{
        width: 50%;
    }
    .back_1{
        background: gray;
    }
>>>>>>> 7b37c4444486b9c0497d4347b124b18c97ab2a78
}