@import "../variables.scss";

.right-home {
  min-height: 100vh;
  background-color: $color-red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  display: flex;

  .logo-button {
    border: solid $color-white 8px;
    border-radius: 135px;
    width: 100%;
    height: 14%;
    background: transparent;
    position: relative;
    margin: auto;
    margin-top: -20%;

    img {
      width: 50%;
    }
  }

  .icon-arrow {
    position: absolute;
    top: 55%;
    left: 47%;
    width: 5%;
  }

  .principal-message-container {
    @extend .div-containers;
    margin-left: 0 !important;
  }

  .secondary-message-container {
    @extend .div-containers;
    margin-left: 75% !important;
  }

  .div-containers {
    position: absolute;
    top: 60%;

    border: solid $color-white 8px;
    border-radius: 135px;
    width: 100%;
    height: 20%;
    background: transparent;

    padding-left: 15%;
    padding-top: 5%;

    transition-property: all;
    transition-duration: 0.5s;

    .intern-margin {
      position: relative;
      width: 40%;
      height: 25%;
      display: flex;
      text-align: center;
    }

    h5 {
      color: $color-white;
      margin: auto;
    }
  }

  .show-div {
    transition-property: all;
    transition-duration: 2s;
    margin-left: 0% !important;
  }

  .hide-div {
    transition-property: all;
    transition-duration: 2s;
    margin-left: 75% !important;
  }

  .bounce-icon {
    animation-name: bounceAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }

  @keyframes bounceAnim {
    0% {
      -webkit-transform: translateY(0%);
    }
    25% {
      -webkit-transform: translateY(-25%);
    }
    50% {
      -webkit-transform: translateY(0);
    }
    75% {
      -webkit-transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0);
    }
  }
}
