@import '../variables.scss';

.game-over{
    width: 100%;
    min-height: 100vh;
    background-color: $color-red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:$color-white;
    h1{
        font-size: 5rem;
        font-weight: 600;
        line-height: 4rem;
        text-align: center;
        padding: 1rem 5rem;
        border:0.5rem solid $color-white;
        border-radius: 6rem;
        opacity: 0;
    }
    p{
        margin: 50px 0 30px 0;
        opacity: 0;
    }
    a{
        font-weight: 600;
        color: $color-white;
        transition: 0.3s all;
        opacity: 0;
        border:0.2rem solid $color-white;
        padding: 0.5rem 2rem;
        border-radius: 3rem;
    }
    a:hover{
        text-decoration: none;
        color: $color-red;
        background-color: $color-white;
        transform: scale(1.03);
    }
}

.back-anim{
    animation: enterGameOver 0.5s ease;
}

@keyframes enterGameOver {
    0%{ opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}

